html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #edf2f6;
}

body * {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

body.disabled-scroll {
	overflow: hidden;
}

body *:focus {
  outline: none;
}  

button:focus, a:focus {
  outline: none;
}

a {
	text-decoration: none;
  color: #fa6342;
}

ul {
	margin: 0;
	padding: 0;
}

.app { 
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  padding-top: 30px;
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapp {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
}

.filled-section {
    background-color: #fff;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    padding: 20px;
}

.section-head {
    position: relative;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #515365;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e6ecf5;
    text-transform: capitalize;
}

.section-head:before {
    content: "";
    height: 90%;
    left: -20px;
    position: absolute;
    top: -5px;
    width: 3px;
    background-color: #fa6342;
}

.section-head .h3 {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
}
